.about__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  gap: 4rem;
  justify-content: center;
}
.about__img {
  width: 100%;
  max-width: 350px;
  border-radius: 1.5rem;
  justify-self: center;
}
.about__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about__description {
  margin-top: 1rem;
  font-size: 1rem;
}
.about__skills {
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--text-color);
}
/* Breakpoints for medium screens */
@media (max-width: 768px) {
  .about__container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about__img,
  .about__data {
    justify-self: center;
    text-align: center;
  }
  .about__description,
  .about__skills {
    font-size: 0.9rem;
  }
}
@media (max-width: 576px) {
  .about__container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about__img,
  .about__data {
    justify-self: center;
    text-align: center;
  }
  .about__description,
  .about__skills {
    font-size: 0.85rem;
  }
}
